@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gluten:wght@900&family=Kanit:wght@700&family=Lato:wght@100&family=Lobster&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 50px;
}

nav {
  margin-right: 55px;
}

nav a {
  margin-left: 16px;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo {
  float: left;
  margin-left: 20px;
  font-size: 2.5rem;
  font-family: 'Kanit', sans-serif;
  color: darkorange;
}

.home-page {
  text-align: left;
}

.welcome-text {
  font-size: 30px;
  font-weight: 700;
  margin-left: 20px;
  color: rgb(111, 117, 150);
}

.home-para {
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  font-family: Merriweather, serif;
  line-height: 2rem;
}

.quote-container {
  margin-top: 150px;
}

.quote {
  font-family: cursive, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: rgb(111, 117, 150);
}

.calc-para {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(111, 117, 150);
  position: absolute;
  left: 2.5%;
}

.calculator {
  display: inline-block;
  margin-top: 70px;
  margin-left: 65%;
}

.row {
  display: flex;
}

.input-cell {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: rgb(111, 117, 150);
  text-align: right;
  color: #fff;
}

.button-cell {
  width: 25%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 149, 0);
}

.button-cell.last-column {
  background: rgb(255, 149, 0);
}

button.last-column:hover {
  background: rgb(111, 117, 150);
}

.zero-cell {
  width: 50%;
}
